<a href="https://colab.research.google.com/github/LanguageExchanger/TimeSeries/blob/main/DataLabelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the Ethereum price data from the uploaded CSV file
file_path = "/content/sub_upbit_eth_min_tick.csv"
df = pd.read_csv(file_path)

# Display basic information and the first few rows
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378439 entries, 0 to 378438
Data columns (total 6 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   time    378439 non-null  object
 1   open    378438 non-null  float64
 2   high    378438 non-null  float64
 3   low     378438 non-null  float64
 4   close   378438 non-null  float64
 5   volume  378438 non-null  float64
dtypes: float64(5), object(1)
memory usage: 17.3+ MB

(None,
                   time      open      high       low     close     volume
 0  2017-09-25 03:00:00  324500.0  325500.0  322000.0  324000.0  52.477251
 1  2017-09-25 03:01:00  324000.0  324000.0  322500.0  324000.0  39.061889
 2  2017-09-25 03:02:00  322500.0  324500.0  322500.0  324500.0  12.794000
 3  2017-09-25 03:05:00  324000.0  324000.0  323000.0  324000.0  33.365246
 4  2017-09-25 03:06:00  324000.0  325000.0  322500.0  324000.0  46.224544)

âœ… Step 1: Return Threshold Banding

* ëª©í‘œ: ì¼ì • ì‹œê°„(ì˜ˆ: h = 60ë¶„) í›„ ìˆ˜ìµë¥  ê³„ì‚°
* ìˆ˜ìµë¥ ì´ +1% ì´ˆê³¼ â†’ Label = 1
* ìˆ˜ìµë¥ ì´ -1% ë¯¸ë§Œ â†’ Label = 0
* ê·¸ ì‚¬ì´ëŠ” Label ì—†ìŒ (ì œì™¸)

In [3]:
# Convert 'time' to datetime and sort
df['time'] = pd.to_datetime(df['time'], format='mixed')
df = df.sort_values('time').reset_index(drop=True)

# Parameters
horizon = 60  # lookahead horizon in minutes
threshold = 0.01  # Â±1% threshold

# Compute forward returns using close prices
df['future_close'] = df['close'].shift(-horizon)
df['return'] = (df['future_close'] - df['close']) / df['close']

# Labeling
def label_return(r, th=threshold):
    if r > th:
        return 1
    elif r < -th:
        return 0
    else:
        return None  # ambiguous zone

df['label'] = df['return'].apply(label_return)

# ê²°ê³¼ ìš”ì•½: ë¼ë²¨ ë¶„í¬ í™•ì¸
label_counts = df['label'].value_counts(dropna=False)
label_counts

label
NaN    266745
1.0     56994
0.0     54700
Name: count, dtype: int64

âœ… ë¼ë²¨ ë¶„í¬ ê²°ê³¼ (60ë¶„ í›„ ìˆ˜ìµë¥  ê¸°ì¤€ Â±1% band ì‚¬ìš©)

| ë¼ë²¨    | ì˜ë¯¸          | ìƒ˜í”Œ ìˆ˜     | ë¹„ìœ¨      |
| ----- | ----------- | -------- | ------- |
| `1.0` | +1% ì´ìƒ ìƒìŠ¹   | 56,994ê±´ | ì•½ 10.5% |
| `0.0` | -1% ì´í•˜ í•˜ë½   | 54,700ê±´ | ì•½ 10.2% |
| `NaN` | Â±1% ì‚¬ì´ (ì œì™¸) | 266,745ê±´ | ì•½ 79.3% |

ğŸ” í•´ì„
* ëŒ€ë¶€ë¶„ì˜ ì‹œì ì—ì„œëŠ” Â±1% ì´ë‚´ì˜ ë³€ë™ë§Œ ë°œìƒí–ˆê¸° ë•Œë¬¸ì—, í•´ë‹¹ ë¼ë²¨ì€ ì œì™¸ë˜ì—ˆì–´.
* ì´ë ‡ê²Œ í•˜ë©´ ëª¨ë¸ì´ ì˜ë¯¸ ìˆëŠ” ë“±ë½ë§Œ í•™ìŠµí•˜ê²Œ ë˜ê³ , ë…¸ì´ì¦ˆê°€ ì¤„ì–´ë“¤ê²Œ ë¼.
* í•˜ì§€ë§Œ ë°ì´í„°ì˜ 80% ê°€ê¹Œì´ ì œì™¸ë˜ë¯€ë¡œ ì´í›„ ëª¨ë¸ í•™ìŠµ ì‹œì—ëŠ” ì¶©ë¶„í•œ ìƒ˜í”Œ ìˆ˜ í™•ë³´ë¥¼ ìœ„í•œ ì¶”ê°€ ì „ëµì´ í•„ìš”í•  ìˆ˜ ìˆì–´ (ì˜ˆ: ë¼ë²¨ ìœˆë„ìš° ë‹¤ë³€í™”, ë‹¤ì¤‘ ì‹œê³„ ë²”ìœ„).